* {
    margin: 0px;
}

body {
    background-color: black;
}

table.form-container {
    top: 50%;
    left: 50%;
    font-family: "sans-serif";
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

table.form-container > tbody > tr > td {
    padding-bottom: 10px;
}

input.input-field {
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

p.text-form-title {
    color: wheat;
    font-size: 45px;
    padding-bottom: 15px;
}

p.text-field {
    color: wheat;
    font-size: 15px;
    padding-bottom: 5px;
}
